/*Users styles*/

.user_main_container {
    text-align: center;
}
.user_container {
    /*width: 820px;*/
    display: inline-block;
    border: 2px solid #555555;
    margin: 0 auto;
}

.user_container .username {
    /*width: 100%;*/
    font-size: 20pt;
    text-align: center;
    background-image: url(../../../images/nav.png);
    /*border: 1px solid red;*/
}

.user_container .user_info_container {
    /*width: 100%;*/
    height: 100%;
    /*border: 1px solid red;*/
    overflow: auto;
    position: relative;
}

.user_container .user_image {
    /*height: 210px;
    width: 210px;*/
    /*border: 1px solid white;*/
    display: table-cell;
    vertical-align: middle;
    float: left;
}

.user_container .user_image img {
    display: block;
    margin: auto;
}

.user_container .user_info{
    /*border: 1px solid blue;*/
    float: left;
    height: 100%;
    width: 450px;
    overflow: auto;
}

.user_headers {
    /*border: 1px solid purple;*/
    float: left;
    padding: 5px 0 5px 5px;
    text-align: right;
}

.user_contents {
    /*border: 1px solid white;*/
    float: left;
    padding: 5px 0 5px 0;
    width: 342px;
    text-align: left;
}

.user_header,
.user_content{
    margin: 2px;
    border: 1px solid #555;
    padding: 2px;
    font-size: 12px;

}
.user_panel {
   /* position: absolute;*/
    float: left;
    /*border: 1px solid green;*/
    right: 0;
    top: 0;
    float: left;
    width: 145px;
    padding: 5px;
}

/*Sign Up Styles*/
.signup_form {
    border: solid 1px #555;
    /*width: 500px;*/
    display: inline-block;
    height: 100%;
    overflow: auto;
}
